
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>id</title>
    <link rel="stylesheet" href="id.css">
</head>

<body>
    <div id="container">
        
        <div id="logo"></div>
        <div id="clg">
            <h1 id="h1">Stella Mary's</h1>
        </div>
        <div id="clg1">
            <h1>COLLEGE OF ENGINEERING</h1>
        </div>
        <div id="web">www.stellamaryscoe.edu.in</div>
        <div id="line"></div>
    
        <div id="photo"></div>
        <div id="name">
            <p id="p1">Bennyhinn Sam.T</p>
        </div>
        <div id="con">
            <div id="dept">
                <p id="p2">DEPARTMENT</p>
                <P id="cse">CSE A</P>
            </div>
            <div id="year">
                <p id="p22">YEAR</p>
                <P id="p23">2022-2026</P>
            </div>
        </div>
        <div id="barcode"></div>
        <div id="no">
            <p>ID NO : 22RUCSA020</p>
        </div>
    </div>
    
</body>
</html>
